{% extends 'home.html' %}
{% from "_macro.html" import render_field %}

<br>
<br>
<br>
<br>

{% block content %}
    <br>
    <div class="container">
        <div class="row">
            <form method="POST">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <div class="form-group form-inline">
                        <div class="form-goup col-xs-12 floating-label-form-group controls">
                            {{ render_field(form.razonSocial, class='form-control') }}
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="form-goup col-xs-12 floating-label-form-group controls">
                            {{ render_field(form.propietario, class='form-control') }}
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="form-goup col-xs-12 floating-label-form-group controls">
                            {{ render_field(form.direccion, class='form-control') }}
                            <p class="help-block text-danger"></p>
                        </div>
                </div>
                <div class="form-group form-inline">
                    <div class="form-goup col-xs-12 floating-label-form-group controls">
                        {{ render_field(form.rfc, class='form-control') }}
                        <p class="help-block text-danger"></p>
                    </div>
                
                    <div class="form-goup col-xs-12 floating-label-form-group controls">
                        {{ render_field(form.municipio, class='form-control') }}
                        <p class="help-block text-danger"></p>
                    </div>
                
                    <div class="form-goup col-xs-12 floating-label-form-group controls">
                        {{ render_field(form.estado, class='form-control') }}
                        <p class="help-block text-danger"></p>
                    </div>
                </div>
                <div class="form-group form-inline">
                    <div class="form-goup col-xs-12 floating-label-form-group controls">
                        {{ render_field(form.contacto, class='form-control') }}
                        <p class="help-block text-danger"></p>
                    </div>
                    <div class="form-goup col-xs-12 floating-label-form-group controls">
                        {{ render_field(form.email, class='form-control') }}
                        <p class="help-block text-danger"></p>
                    </div>
                    <div class="form-goup col-xs-12 floating-label-form-group controls">
                        {{ render_field(form.telefono, class='form-control') }}
                        <p class="help-block text-danger"></p>
                    </div>
                </div>
                   <br>
                <div class="success">
                    <div class="row">
                        <div class="form-group col-xs-12">
                            <button type="submit" class="btn btn-outline-danger">Guardar...</button>
                        </div>
                    </div>
                </div>
<br>
            </form>
        </div>
    </div>
    <br>
    <br>
    <br>
{% endblock %}