{% extends 'home.html' %}
{% from "_macro.html" import render_field %}
{% block content %}
<br>
<br>
<div class="container">
    <div class="row">
	<form method="POST">
		<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <div class="form-group form-inline">
                        <div class="form-goup col-xs-12 floating-label-form-group controls">
                            {{ render_field(form.placa, class='form-control') }}
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="form-goup col-xs-12 floating-label-form-group controls">
                            {{ render_field(form.anio, class='form-control') }}
                            <p class="help-block text-danger"></p>
                        </div>
                        
                </div>
                <div class="success">
                    <div class="row">
                        <div class="form-group col-xs-12">
                            <button type="submit" class="btn btn-outline-danger" name='buton' value='search'>Generar...</button>
                        </div>
                    </div>
                </div>
                
	</form>
</div>
</div>
{% if image_url %}
	<center>
	     <h3>grafica comparativa</h3>
	     <div class="position-relative">
	         <object type="image/svg+xml" data="{{ url_for('static', filename=image_url)+var}}" width="600" height="600">
	          Your browser does not support SVG
	         </object>
	         
	         <br><br>
	     </div>
	</center>
{%endif%}
{% endblock %}