{% extends 'home.html' %}
{% from "_macro.html" import render_field %}
{% block content %}
	<br>
	<br>
	<div class="container">
        <div class="row">
            <form method="POST">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <div class="form-group form-inline">
                    <div class="form-goup col-xs-12 floating-label-form-group controls">
                        {{ render_field(form.select1, class='form-control') }}
                        <p class="help-block text-danger"></p>
                    </div>
                    <div class="form-goup col-xs-12 floating-label-form-group controls">
                        {{ render_field(form.select2, class='form-control') }}
                        <p class="help-block text-danger"></p>
                    </div>
                    <div class="form-inline form-group align-items-center">
						<button type="submit" class="btn btn-outline-danger" id="buscar" name="buscar" value="buscar">Buscar</button>
					</div>    
                </div>
		</form>
        </div>
    </div>
    {% if tabla %}
    	<div class="container">
	        <div class="row">
	        	<form method="POST">
                	<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
	                <div class="container mt-3">
					  <!--<p>escribe el argumento a buscar puede ser placa, núm inv, resguardante </p>  
					  <input class="form-control" id="myInput" type="text" placeholder="Search..">-->
					  <br>
					  <table class="table table-bordered table-hover">
					    <thead>
					      <tr class="table-primary">
					        <th>Fecha Salida</th>
					        <th>Placa</th>
					        <th>Nombre Conductor</th>
					        <th>Fecha Entrada</th>
					        <th>Observaciones</th>
					      </tr>
					    </thead>
					    <tbody id="myTable">
					    	{%for item in tabla %}
					    		<tr class="table-success">
					        		<td>{{ item.fechasal }}</td>
					        		<td>{{ item.placa }}</td>
					        		<td>{{ item.usu_actual }}</td>
					        		<td>{{ item.fechaentra}}</td>
					        		<td>{{ item.observaciones }}</td>
					      		</tr>
					      	{% endfor %}
					    </tbody>
					  </table>
					</div>
					
	            </form>
	        </div>
	        <br>
	        <br>
	        <br>
	
    	</div>
    {% endif %}
    <script>
    	let select1_select = document.getElementById('select1');
    	let select2_select = document.getElementById('select2');

    	select1_select.onchange = function(){
    		opcion = select1_select.value;
    		fetch('/catalogo/bitacora/captura/data/' + opcion ).then(function(response){
    			response.json().then(function(data) {
    				let optionHTML=""; 
    				for (let opt of data.datos){
    					optionHTML += '<option value="' + opt.id + '">' + opt.placa +'</option>';
    				}
    				select2_select.innerHTML = optionHTML;
    			});
    		});
    	};

     	function calculo(){
    		var dato1 = document.getElementById("kminicial");
    		var dato2 = document.getElementById("kmfinal");
    		if (dato1.value ==""){
    			dato1.value=0;
    		}
    		if (dato2.value ==""){
    			dato2.value=0;
    		}
    		var kmre = parseInt(dato2.value) - parseInt(dato1.value);
    		document.getElementById("kilo").value = kmre;
    	};
    </script>    
    
{% endblock %}