{% extends 'home.html' %}
{% from "_macro.html" import render_field %}
{% block content %}
    <div class="container">
        <div class="row">
            <form method="POST">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <br>
                <div class="row form-control-feedback">
                    <div class="form-goup col-xs-12 floating-label-form-group controls">
                        <div class="checkbox">
                            {{ form.cotizacion1() }} {{form.cotizacion1.label}} <br>
                            {{ render_field(form.numSol, class='form-control') }}                            
                        </div>
                    </div>
                </div>
                <div class="form-group form-inline">                	
                	<div class="row form-control-feedback">
                	    <div class="form-goup col-xs-12 floating-label-form-group controls">
                	        {{ render_field(form.proveedor1, class='form-control') }}
                	        <p class="help-block text-danger"></p>
                	    </div>
                	</div>
                	<div class="row form-control-feedback">
                	    <div class="form-goup col-xs-12 floating-label-form-group controls">
                	        {{ render_field(form.costo1, class='form-control') }}
                	        <p class="help-block text-danger"></p>
                	    </div>
                	</div>
                	<div class="row form-control-feedback">
                	    <div class="form-goup col-xs-12 floating-label-form-group controls">
                	        {{render_field(form.descripcion1, class='form-control', rows="5", placeholder="Capture los servicios que contiene la cotización")}}
                	        <p class="help-block text-danger"></p>
                	    </div>
                	</div>
               	</div>
               	<br>
                <div class="row form-control-feedback">
                    <div class="form-goup col-xs-12 floating-label-form-group controls">
                        <div class="checkbox">
                            {{ form.cotizacion2() }} {{form.cotizacion2.label}} <br>                            
                        </div>
                    </div>
                </div>
                <div class="form-group form-inline">
                	<div class="row form-control-feedback">
                	    <div class="form-goup col-xs-12 floating-label-form-group controls">
                	        {{ render_field(form.proveedor2, class='form-control') }}
                	        <p class="help-block text-danger"></p>
                	    </div>
                	</div>
                	<div class="row form-control-feedback">
                	    <div class="form-goup col-xs-12 floating-label-form-group controls">
                	        {{ render_field(form.costo2, class='form-control') }}
                	        <p class="help-block text-danger"></p>
                	    </div>
                	</div>
                	<div class="row form-control-feedback">
                	    <div class="form-goup col-xs-12 floating-label-form-group controls">
                	        {{render_field(form.descripcion2, class='form-control', rows="5", placeholder="Capture los servicios que contiene la cotización")}}
                	        <p class="help-block text-danger"></p>
                	    </div>
                	</div>
               	</div>
               	<br>
                <div class="row form-control-feedback">
                    <div class="form-goup col-xs-12 floating-label-form-group controls">
                        <div class="checkbox">
                            {{ form.cotizacion3() }} {{form.cotizacion3.label}} <br>                            
                        </div>
                    </div>
                </div>
                <div class="form-group form-inline">                	
                	<div class="row form-control-feedback">
                	    <div class="form-goup col-xs-12 floating-label-form-group controls">
                	        {{ render_field(form.proveedor3, class='form-control') }}
                	        <p class="help-block text-danger"></p>
                	    </div>
                	</div>
                	<div class="row form-control-feedback">
                	    <div class="form-goup col-xs-12 floating-label-form-group controls">
                	        {{ render_field(form.costo3, class='form-control') }}
                	        <p class="help-block text-danger"></p>
                	    </div>
                	</div>
                	<div class="row form-control-feedback">
                	    <div class="form-goup col-xs-12 floating-label-form-group controls">
                	        {{render_field(form.descripcion3, class='form-control', rows="5", placeholder="Capture los servicios que contiene la cotización")}}
                	        <p class="help-block text-danger"></p>
                	    </div>
                	</div>
               	</div>
               	<br>                   
                <div class="success">
                    <div class="row">
                        <div class="form-group col-xs-12">
                            <button type="submit" class="btn btn-outline-danger">Generar...</button>
                        </div>
                    </div>
                </div>
            </form>

        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
{% endblock %}