{% extends 'home.html' %}

{% block content %}
{% from "_macro.html" import render_field %}
	<br>
	<br>
	<div class="container">
		<div class="row align-items-start align-self-center">
			<form  method="POST" name="articulos">
				<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
				<div class="form-inline form-group align-items-center">
					{{ render_field(form.fecha, class='form-control mx-sm-3',placeholder="DD/MM/YYYY") }}
                	<p class="help-block text-danger"></p>
                	{{ render_field(form.subtotal, class='form-control mx-sm-3', onkeypress="return valida(event)", placeholder="SubTotal de la Factura") }}
                	<p class="help-block text-danger"></p>
                </div>
                <div class="form-inline form-group align-items-center">
                	{{ render_field(form.iva, class='form-control mx-sm-3',onkeypress="return valida(event)", placeholder="IVA de la Factura") }}
                	<p class="help-block text-danger"></p>
                	{{ render_field(form.total, class='form-control mx-sm-3', onkeypress="return valida(event)", placeholder="Total de la Factura") }}
                	<p class="help-block text-danger"></p>              
				</div>
				<div class="form-inline form-group align-items-center">
                	{{ render_field(form.rfc, class='form-control mx-sm-3', placeholder="(XXXx-aammdd-XXX)") }}
                	<p class="help-block text-danger"></p>
                	{{ render_field(form.nombre, class='form-control mx-sm-3', placeholder="Razón Social") }}
                	<p class="help-block text-danger"></p>              
				</div>
				<div class="form-inline form-group align-items-center">
                	{{ render_field(form.uuid, class='form-control mx-lg-3 flex',  placeholder="UUID de la Factura") }}
                	<p class="help-block text-danger"></p>
                	{{ render_field(form.placas, class='form-control mx-lg-3 flex',  placeholder="placas de la unidad") }}
                	<p class="help-block text-danger"></p>      
				</div>
				<div class="form-inline form-group align-items-center">
					{{ render_field(form.obser, class='form-control mx-lg-3 flex', rows="4", cols="50",  placeholder="Observaciones generales") }}
                	<p class="help-block text-danger"></p>    
				</div>
				{%if boton > 0 %}
					<div class="form-inline form-group align-items-center">
						<button type="submit" class="btn btn-outline-danger" id="guardar" name="guardar" value="guardar">Guardar</button>
					</div>
				{%endif%}
				<br>
					<table>
						<thead>
							<tr>
								<th>Cantidad</th>
								<th>Descripcion</th>
								<th>Precio Unitario</th>
								<th>Importe</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td >
									{{(form.cantidad) }}
                				</td>
								<td>
									{{(form.descripcion)}}
								</td>
								<td>
									{{ form.pUnit }}
								</td>
								<td>
									{{ form.importe }} 
								</td>
								<td>
									<button type="submit" class="btn btn-outline-primary d-flex align-items-center" id="agregar" name="agregar" value="agregar">Agregar Articulo</button>
								</td>
								<td><button type="button" class="btn btn-outline-warning d-flex align-items-center" id="agregar" name="agregar" value="limpiar" onclick="limpiar();">Limpiar campos</button></td>
							</tr>
						</tbody>
					</table>

                {% if articulos %}	
                	<div class="container">
                		<table class="table-bordered table-hover  table-striped">
						<thead>
							<tr>
								<th scope="col">Cantidad</th>
								<th>Descripcion</th>
								<th>Precio Unitario</th>
								<th>Importe</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							{% for item in articulos %}
							<tr>
								<th scope="row">
									{{ item.cantidad}}
                				</th>
								<th scope="row">
									{{ item.descripcion}}
                				</th>
                				<th scope="row">
									{{ item.pUnit}}
                				</th>
                				<th scope="row">
									{{ item.importe}}
                				</th>
                				<th><button type="submit" class="btn btn-outline-primary d-flex align-items-center" id="eliminar" name="eliminar" value="{{ item.id }}">Eliminar Articulo</button></th>
							</tr>
							{%endfor%}
						</tbody>
						</table>
                	</div>
                {% endif %}		  
			</form>
			
		</div>
		<br>
		<br>
	</div>
	<br>
	<br>
	<script>
	function limpiar() {
    	document.getElementById("cantidad").value = "";
    	document.getElementById("descripcion").value = "";
    	document.getElementById("pUnit").value = "";
    	document.getElementById("importe").value = "";
	};
	function valida(e){
    		tecla = (document.all) ? e.keyCode : e.which;
    		//Tecla de retroceso para borrar, siempre la permite
    		if (tecla==8){
        	return true;
    	}
    	// Patron de entrada, en este caso solo acepta numeros
    	patron =/[0-9,"."]/;
    	tecla_final = String.fromCharCode(tecla);
    	return patron.test(tecla_final);
		};

	var cantidad = document.getElementById("cantidad");
	cantidad.setAttribute("onkeypress", "return valida(event);");
	var pUnit = document.getElementById("pUnit");
	pUnit.setAttribute("onkeypress", "return valida(event);");
	var importe = document.getElementById("importe");
	importe.setAttribute("onkeypress", "return valida(event);");
</script>
{% endblock %}