{% extends 'Home.html' %}
{% from "_macro.html" import render_field %}
{% block content %}
<style>
    .ajustar{ /* sirve para */
width: 300px;
float: left;
white-space: pre; /* CSS 2.0 */
white-space: pre-wrap; /* CSS 2.1 */
white-space: pre-line; /* CSS 3.0 */
white-space: -pre-wrap; /* Opera 4-6 */
white-space: -o-pre-wrap; /* Opera 7 */
white-space: -moz-pre-wrap; /* Mozilla */
white-space: -hp-pre-wrap; /* HP */
word-wrap: break-word; /* IE 5+ */
}
    div.limpiar{
    clear: both;
    }
    td {
  max-width: 250px;
  font-size: 15px;
  border: solid 2px gray;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
</style>

<div class="w3-card-4 w3-center" style="width:45%; margin:auto auto;">
    <header class="w3-container w3-deep-orange w3-center">
      <h1>Reporte general de facturas</h1>
    </header>
<div class="w3-container w3-center">
	<div class="row" style="width: auto; margin: auto auto;">
		<br>
		<br>
		<br>
        <form class="form-horizontal" method="POST" name="consulta">
			<div>
				<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
			</div>
			<div class="form-goup col-xs-12 floating-label-form-group controls">
				{{ form.bProv }}
                {{ render_field(form.sProv, class='form-control') }}
                <p class="help-block text-danger"></p>
            </div>
            <div class="form-goup col-xs-12 floating-label-form-group controls">
            	{{ form.bFecha }}
                {{ render_field(form.sFechaI, class='form-control', placeholder="DD/MM/YYYY") }}
                <p class="help-block text-danger"></p>
                {{ render_field(form.sFechaF, class='form-control', placeholder="DD/MM/YYYY") }}
                <p class="help-block text-danger"></p>
            </div>
            <div class="form-goup col-xs-12 floating-label-form-group controls">
            	{{ form.bPlaca }}
                {{ render_field(form.qPlaca, class='form-control') }}
                <p class="help-block text-danger"></p>
            </div>
             <div class="form-group mx-sm-3 mb-2 form-inline">
            	<button type="submit" class="btn btn-outline-primary d-flex align-items-center" id="consultar" name="consultar" value="consultar">Consultar</button>
            	<div class="mx-sm-3 mb-2">
            	</div>
            	<button type="reset" class="btn btn-outline-warning d-flex align-items-center" id="agregar" name="agregar" value="limpiar">Limpiar campos</button>
            </div>
    


</div>   





</div>  
<footer class="w3-container w3-deep-orange">
      <h5>Mantenimientos/solicitud/reportes/reporte general de facturas</h5>
    </footer>
</div>   
{% if lista or lista2 or lista3 or lista4 or lista5 %}   
 




    <div class="w3-card-4 w3-center" style="width:90%; margin:auto auto;">
    <header class="w3-container w3-blue w3-center">
       <h2>Datos consultados</h2>
    </header> 
              <div class="w3-container">
                  <div class="table-responsive table-responsive-sm">
                     <table class="table table-bordered table-striped table-hover">
                        <thead>
                            <tr class="table-primary">
                                <th>#</th>
                                <th>UUiD</th>
                                <th>RFC</th>
                                <th>Nombre</th>
                                <th>Subtotal</th>
                                <th>IVA</th>
                                <th>Total</th>
                                <th>Fecha</th>
                                <th>Placa</th>
                                <th>Observaciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in lista%}
                            <tr class="table-success">
                                <td>{{item.id}}</td>
                                <td>{{item.UUiD}}</td>
                                <td>{{item.rfc}}</td>
                                <td>{{item.nombre}}</td>
                                <td>{{item.subtotal}}</td>
                                <td>{{item.iva}}</td>
                                <td>{{item.total}}</td>
                                <td>{{item.fecha}}</td>
                                <td>{{item.placas}}</td>
                                <td >{{item.observaciones}}</td>
                            </tr>
                            {% endfor %}
                            {% for item in lista2%}
                            <tr class="table-success">
                                <td>{{item.id}}</td>
                                <td>{{item.UUiD}}</td>
                                <td>{{item.rfc}}</td>
                                <td>{{item.nombre}}</td>
                                <td>{{item.subtotal}}</td>
                                <td>{{item.iva}}</td>
                                <td>{{item.total}}</td>
                                <td>{{item.fecha}}</td>
                                <td>{{item.placas}}</td>
                                <td>{{item.observaciones}}</td>
                            </tr>
                            {% endfor %}
                            {% for item in lista3%}
                            <tr class="table-success">
                                <td>{{item.id}}</td>
                                <td>{{item.UUiD}}</td>
                                <td>{{item.rfc}}</td>
                                <td>{{item.nombre}}</td>
                                <td>{{item.subtotal}}</td>
                                <td>{{item.iva}}</td>
                                <td>{{item.total}}</td>
                                <td>{{item.fecha}}</td>
                                <td>{{item.placas}}</td>
                                <td>{{item.observaciones}}</td>
                            </tr>
                            {% endfor %}
                            {% for item in lista4%}
                            <tr class="table-success">
                                <td>{{item.id}}</td>
                                <td>{{item.UUiD}}</td>
                                <td>{{item.rfc}}</td>
                                <td>{{item.nombre}}</td>
                                <td>{{item.subtotal}}</td>
                                <td>{{item.iva}}</td>
                                <td>{{item.total}}</td>
                                <td>{{item.fecha}}</td>
                                <td>{{item.placas}}</td>
                                <td>{{item.observaciones}}</td>
                            </tr>
                            {% endfor %}
                            {% for item in lista5%}
                            <tr class="table-success">
                                <td>{{item.id}}</td>
                                <td>{{item.UUiD}}</td>
                                <td>{{item.rfc}}</td>
                                <td>{{item.nombre}}</td>
                                <td>{{item.subtotal}}</td>
                                <td>{{item.iva}}</td>
                                <td>{{item.total}}</td>
                                <td>{{item.fecha}}</td>
                                <td>{{item.placas}}</td>
                                <td>{{item.observaciones}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                     </table>
                   </div>  
                     <div class="limpiar"><!-- fix --></div>
                     <button type="submit" class="btn btn-danger" name="consultar" value="imprimir">Imprimir</button>
                     <br><br>
              </div>
    <br><br><br>
    </div>


     {% endif%}
    </form>     
<!-- SCRIPT para desactivar los textEdit con los check's-->
<script>
	function DesactivarFolio() {
    		document.getElementById("sProv").disabled = !document.getElementById("bProv").checked;
		}
		function DesactivarFechas() {
    		document.getElementById("sFechaI").disabled = !document.getElementById("bFecha").checked;
    		document.getElementById("sFechaF").disabled = !document.getElementById("bFecha").checked;
		}
		function DesactivarPlaca() {
    		document.getElementById("qPlaca").disabled = !document.getElementById("bPlaca").checked;
		};

	//desactivo los campos select y fecha	
	document.getElementById("sProv").disabled=true;
	document.getElementById("sFechaI").disabled =true;
	document.getElementById("sFechaF").disabled = true;
	document.getElementById("qPlaca").disabled = true;

	// le pongo la funcion descativar a los checkbox'es como atributo Onclick
	var bProv = document.getElementById("bProv");
	bProv.setAttribute("onclick","DesactivarFolio();");
	var bFecha = document.getElementById("bFecha");
	bFecha.setAttribute("onclick", "DesactivarFechas();");
	var bPlaca = document.getElementById("bPlaca");
	bPlaca.setAttribute("onclick", "DesactivarPlaca();");
</script>
{% endblock %}