<!DOCTYPE html>
<html>
  <head>
  	<title>Comision de Agua Potable y Alcantarillado - Sistema de Control Vehicular</title>
  	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  	<link rel="shortcut icon" type="image/png" href=" {{url_for('static', filename='img/favicon.ico') }}" />
  	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap-grid.min.css') }}" media="screen">
  	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap-grid.css') }}" media="screen">
  	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap-reboot.css') }}" media="screen">
  	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap-reboot.min.css') }}" media="screen">
  	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}" media="screen">
  	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" media="screen">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <style>

      .dropdown-submenu {
        position: relative;
      }

      .dropdown-submenu a::after {
        transform: rotate(-90deg);
        position: absolute;
        right: 6px;
        top: .8em;
      }

      .dropdown-submenu .dropdown-menu {
        top: 0;
        left: 100%;
        margin-left: .1rem;
        margin-right: .1rem;
      }
      .disabled {
        pointer-events: none;
        cursor: default;
        opacity: 0.6;
        }
      .navbar {
        margin-bottom: 0;
        background-color: #f4511e;
        z-index: 9999;
        border: 0;
        font-size: 12px !important;
        line-height: 1.42857143 !important;
        letter-spacing: 4px;
        border-radius: 0;
        font-family: Montserrat, sans-serif;
      }
      .navbar li a, .navbar .navbar-brand {
        color: #fff !important;
      }
      .navbar-nav li a:hover, .navbar-nav li.active a {
        color: #f4511e !important;
        background-color: #fff !important;
      }
      .navbar-default .navbar-toggle {
        border-color: transparent;
        color: #fff !important;
      }
      .dropdown li a {
        color: #f4511e !important;
      }
      .navbar-default .navbar-nav>.open>a.dropdown-toggle{
        background-color: #f4511e !important;
      }
    </style>
  </head>

  <body background="{{ url_for('static', filename='img/capa.jpg') }}">

    <!-- inicia el menu -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">
       <img src="{{url_for('static', filename='img/capa.png') }}" width="80" height="45" alt="">
       <img src="{{url_for('static', filename='img/qroo.png') }}" width="80" height="45" alt="">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls=" navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('home')}}"><img class="img-fluid" alt="Responsive image" src="{{ url_for('static', filename='img/svg/casa.svg')}}" width="16" height="16" style="fill:red;">Inicio <span class="sr-only">(current)</span></a>
          </li>
          
          <li class="nav-item dropdown" >
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img class="img-fluid" alt="Responsive image" src="{{ url_for('static', filename='img/svg/catalogo.svg')}}" width="16" height="16">
              Catalogos
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="background-color:  #3f4041 ;">
              <div class="dropdown-submenu" aria-labelledby="navbarDropdown" style="background-color:  #3f4041 ;">
                <a class="dropdown-item dropdown-toggle" href="">
                  <img class="img-fluid" alt="Responsive image" src="{{ url_for('static', filename='img/svg/coche.svg')}}" width="16" height="16">
                  Vehiculos
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="background-color:  #3f4041 ;">
                  <a class="dropdown-item" href="{{url_for('Vehiculow')}}"><img class="img-fluid" alt="Responsive image" src="{{ url_for('static', filename='img/svg/coche2.svg')}}" width="16" height="16">Captura</a>
                  <a class="dropdown-item" href="{{url_for('searchvehiculo')}}"><img class="img-fluid" alt="Responsive image" src="{{ url_for('static', filename='img/svg/apoyo-tecnico.svg')}}" width="16" height="16">Consulta</a>
                  <!--- esto es un submenu-->
                  <div class="dropdown-submenu" aria-labelledby="navbarDropdown" style="background-color:  #3f4041 ;">
                    <a class="dropdown-item dropdown-toggle" href="#">
                      <img class="img-fluid" alt="Responsive image" src="{{ url_for('static', filename='img/svg/Note.png')}}" width="16" height="16"> Bitacora
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="background-color:  #3f4041 ;">
                      <a class="dropdown-item" href="{{url_for('bitacora')}}"><img class="img-fluid" alt="Responsive image" src="{{ url_for('static', filename='img/svg/analitica.svg')}}" width="16" height="16">Captura</a>
                      <a class="dropdown-item" href="{{url_for('bitaConsul')}}"><img class="img-fluid" alt="Responsive image" src="{{ url_for('static', filename='img/svg/entrevista.svg')}}" width="16" height="16">Consulta</a>
                    </div>
                  </div>
                  <!--- esto es un submenu-->
                </div>
              </div>
              <div class="dropdown-divider"></div>
              <div class="dropdown-submenu" aria-labelledby="navbarDropdown" style="background-color:  #3f4041 ;">
                <a class="dropdown-item dropdown-toggle" href="">
                  <img class="img-fluid" alt="Responsive image" src="{{ url_for('static', filename='img/svg/temporizador.svg')}}" width="16" height="16">
                  Proveedores
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="background-color:  #3f4041 ;">
                  <a class="dropdown-item" href="/proveedores"><img class="img-fluid" alt="Responsive image" src="{{ url_for('static', filename='img/svg/agregar-usuario.svg')}}" width="16" height="16">Captura</a>
                  <a class="dropdown-item" href="/searchprov"><img class="img-fluid" alt="Responsive image" src="{{ url_for('static', filename='img/svg/apoyo-tecnico.svg')}}" width="16" height="16">Consulta</a>
                </div>
              </div>
              <div class="dropdown-divider"></div>

              <div class="dropdown-submenu" aria-labelledby="navbarDropdown" style="background-color:  #3f4041 ;">
                <a class="dropdown-item dropdown-toggle" href="#">
                  <img class="img-fluid" alt="Responsive image" src="{{ url_for('static', filename='img/svg/trabajo-en-equipo.svg')}}" width="16" height="16">
                  Resguardante
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="background-color:  #3f4041 ;">
                  <a class="dropdown-item" href="/resguardante"><img class="img-fluid" alt="Responsive image" src="{{ url_for('static', filename='img/svg/agregar-usuario.svg')}}" width="16" height="16">Captura</a>
                  <a class="dropdown-item" href="/search"><img class="img-fluid" alt="Responsive image" src="{{ url_for('static', filename='img/svg/apoyo-tecnico.svg')}}" width="16" height="16">Consulta</a>
                </div>
              </div>
            </div>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <img class="img-fluid" alt="Responsive image" src="{{ url_for('static', filename='img/svg/gas.svg')}}" width="16" height="16">
              Combustible
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="background-color:  #3f4041; ">
              <div class="dropdown-submenu" aria-labelledby="navbarDropdown" style="background-color:  #3f4041 ;">
                <a class="dropdown-item dropdown-toggle" href="#">
                  <img class="img-fluid" alt="Responsive image" src="{{ url_for('static', filename='img/svg/recepcion.svg')}}" width="16" height="16">
                  Tickets
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="background-color:  #3f4041 ;">
                  <a class="dropdown-item" href="/combustible/tickets/captura"><img class="img-fluid" alt="Responsive image" src="{{ url_for('static', filename='img/svg/agregar-usuario.svg')}}" width="16" height="16">Captura</a>
                  <a class="dropdown-item" href="/combustible/ticket/consulta"><img class="img-fluid" alt="Responsive image" src="{{ url_for('static', filename='img/svg/apoyo-tecnico.svg')}}" width="16" height="16">Consulta</a>
                  <a class="dropdown-item" href="/combustible/ticket/excell"><img class="img-fluid" alt="Responsive image" src="{{ url_for('static', filename='img/svg/sobresalir.svg')}}" width="16" height="16"> Forma Excel</a>
                </div>
              </div>

              <div class="dropdown-submenu" aria-labelledby="navbarDropdown" style="background-color:  #3f4041 ;">
                <a class="dropdown-item dropdown-toggle" href="#">
                  <img class="img-fluid" alt="Responsive image" src="{{ url_for('static', filename='img/svg/crecimiento.svg')}}" width="16" height="16">
                  Comparativos
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="background-color:  #3f4041 ;">
                  <a class="dropdown-item" href="/combustible/comparativos/ticketvsfactura"><img class="img-fluid" alt="Responsive image" src="{{ url_for('static', filename='img/svg/grafico-de-barras.svg')}}" width="16" height="16"> Ticket Vs. Factura</a>
                  <a class="dropdown-item" href="/combustible/comparativos/consulta"><img class="img-fluid" alt="Responsive image" src="{{ url_for('static', filename='img/svg/apoyo-tecnico.svg')}}" width="16" height="16"> Consulta</a>
                  <a class="dropdown-item" href="/Combustible/comparativos/rendimientos"><img class="img-fluid" alt="Responsive image" src="{{ url_for('static', filename='img/svg/rendimiento.svg')}}" width="16" height="16">Rendimientos</a>
                </div>
              </div>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <img class="img-fluid" alt="Responsive image" src="{{ url_for('static', filename='img/svg/gobernar.svg')}}" width="16" height="16">
              Mantenimientos
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="background-color:  #3f4041; ">
              <div class="dropdown-submenu" aria-labelledby="navbarDropdown" style="background-color:  #3f4041 ;">
                <a class="dropdown-item dropdown-toggle" href="#">
                  <img class="img-fluid" alt="Responsive image" src="{{ url_for('static', filename='img/svg/pedido-online.svg')}}" width="16" height="16">
                  Solicitud
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="background-color:  #3f4041 ;">
                  <a class="dropdown-item" href="/Mantenimientos/solicitud/generar-Solicitud"><img class="img-fluid" alt="Responsive image" src="{{ url_for('static', filename='img/svg/administracion.svg')}}" width="16" height="16">Generar Solicitud</a>
                  <a class="dropdown-item" href="/Mantenimientos/solicitud/imprimir-cotizaciones"><img class="img-fluid" alt="Responsive image" src="{{ url_for('static', filename='img/svg/imprimir.svg')}}" width="16" height="16">Imprimir Cotización</a>
                  <a class="dropdown-item" href="/Mantenimientos/solicitud/Capturar-Solicitud"><img class="img-fluid" alt="Responsive image" src="{{ url_for('static', filename='img/svg/proceso.svg')}}" width="16" height="16">Captura Solicitud</a>

                  <div class="dropdown-submenu" aria-labelledby="navbarDropdown" style="background-color:  #3f4041 ;">
                    <a class="dropdown-item dropdown-toggle" href="#">
                      <img class="img-fluid" alt="Responsive image" src="{{ url_for('static', filename='img/svg/pedido-online.svg')}}" width="16" height="16"> Captura de servicio
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="background-color:  #3f4041 ;">
                      <a class="dropdown-item" href="/manteniminetos/solicitud/captura_servicio/factura_xml"><img class="img-fluid" alt="Responsive image" src="{{ url_for('static', filename='img/svg/xml.svg')}}" width="16" height="16">Factura xml</a>
                      <a class="dropdown-item" href="/manteniminetos/solicitud/capturaDeServicio/manual"><img class="img-fluid" alt="Responsive image" src="{{ url_for('static', filename='img/svg/entrevista.svg')}}" width="16" height="16">Manual</a>
                    </div>
                  </div>
                  <div class="dropdown-submenu" aria-labelledby="navbarDropdown" style="background-color:  #3f4041 ;">
                    <a class="dropdown-item dropdown-toggle" href="#">
                      <img class="img-fluid" alt="Responsive image" src="{{ url_for('static', filename='img/svg/reportar.svg')}}" width="16" height="16"> Reportes
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="background-color:  #3f4041 ;">
                      <a class="dropdown-item" href="/manteniminetos/solicitud/reportes/general"><img class="img-fluid" alt="Responsive image" src="{{ url_for('static', filename='img/svg/analitica.svg')}}" width="16" height="16">Reporte General Facturas</a>
                      <a class="dropdown-item" href="#"><img class="img-fluid" alt="Responsive image" src="{{ url_for('static', filename='img/svg/entrevista.svg')}}" width="16" height="16">otro reporte</a>
                    </div>
                  </div>
                </div>

                <div class="dropdown-submenu" aria-labelledby="navbarDropdown" style="background-color:  #3f4041 ;">
                  <a class="dropdown-item dropdown-toggle" href="#">
                    <img class="img-fluid" alt="Responsive image" src="{{ url_for('static', filename='img/svg/crecimiento.svg')}}" width="16" height="16">
                    Comparativos
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="background-color:  #3f4041 ;">
                    <a class="dropdown-item" href="#"><img class="img-fluid" alt="Responsive image" src="{{ url_for('static', filename='img/svg/grafico-de-barras.svg')}}" width="16" height="16"> Reporte 1</a>
                    <a class="dropdown-item" href="#"><img class="img-fluid" alt="Responsive image" src="{{ url_for('static', filename='img/svg/apoyo-tecnico.svg')}}" width="16" height="16"> Reporte 2</a>
                    <!--<a class="dropdown-item" href="#"><img class="img-fluid" alt="Responsive image" src="{{ url_for('static', filename='img/svg/impresora.svg')}}" width="16" height="16">Reporte</a>-->
                  </div>
                </div>

              </li>
              <!--<li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Dropdown
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="background-color:  #3f4041 ;">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Something else here</a>
                  <div class="dropdown-submenu" aria-labelledby="navbarDropdown" style="background-color:  #3f4041 ;">
                    <a href="" class="dropdown-item dropdown-toggle"> submenu</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="background-color:  #3f4041 ;">
                      <a class="dropdown-item" href="#">Submenu action</a>
                    </div>
                  </div>
                </div>
              </li>-->
              <li class="divider-vertical"></li>
              <li class="nav-item "><a class="nav-link" href="/crearUser"><img class="img-fluid" alt="Responsive image" src="{{ url_for('static', filename='img/svg/newUser.svg')}}" width="16" height="16"> Crear Usuario</a></li>
        </ul>
        <ul class="navbar-nav ml-auto">
          <li  class="nav-item">

            {% if nombre%}
            <a class="nav-link disabled" href="/login" > <img class="img-fluid" alt="Responsive image" src="{{ url_for('static', filename='img/svg/hombre.svg')}}" width="16" height="16"> {{nombre}}<span class="sr-only">(current)</span> </a>
            {% else %}
            <a class="nav-link" href="/login"> <img class="img-fluid" alt="Responsive image" src="{{ url_for('static', filename='img/svg/hombre.svg')}}" width="16" height="16"> Acceder<span class="sr-only">(current)</span> </a>
            {% endif %}

          </li>
          <li class="divider-vertical"></li>
          <li class="nav-item "><a class="nav-link" href="/logout"><img class="img-fluid" alt="Responsive image" src="{{ url_for('static', filename='img/svg/salida.svg')}}" width="16" height="16"> Salir</a></li>
        </ul>
      </div>
    </nav>

        <!-- Termina el menu -->
        <!--##########################################################################################################-->
        <!-- Begin page content -->
        <br>
        <div class="container">
          <div class="row-fluid">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-danger" role="alert">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              {{ message }}
            </div>
            {%endfor%}
            {% endif %}
            {% endwith %}
          </div>
      </div>
      {% block contador%}
    <!--<SCRIPT type="text/javascript">

      var today=new Date()

      //Enter the occasion's MONTH (1-12) and DAY (1-31):
      var theoccasion=new Date(today.getFullYear(), 12, 7)

      //Customize text to show before and on occasion. Follow grammer below:
      var beforeOccasionText="Para el aguinaldo"
      var onOccasiontext="Hoy Pagan. <BR>Feliz Día del Aguinaldo"

      var monthtext=new Array("Jan","Feb","Mar","April","May","June","July","Aug","Sep","Oct","Nov","Dic")
      theoccasion.setMonth(theoccasion.getMonth()-1) //change to 0-11 month format
      var showdate="("+monthtext[theoccasion.getMonth()]+" "+theoccasion.getDate()+")" //show date of occasion

      var one_day=1000*60*60*24
      var calculatediff=""

      calculatediff=Math.ceil((theoccasion.getTime()-today.getTime())/(one_day))
      if (calculatediff<0){ //if bday already passed
        var nextyeartoday=new Date()
        nextyeartoday.setFullYear(today.getFullYear()+1)
        calculatediff=Math.ceil((nextyeartoday.getTime()-today.getTime())/(one_day)+calculatediff)
      }

      //Display message accordingly
      var pluraldayornot=(calculatediff==1)? "día" : "dás"
      if (calculatediff>0)
        document.write("<div class='col-md-3'><div style='position: fixed;'><B>"+calculatediff+" "+pluraldayornot+" "+beforeOccasionText+" "+showdate+"</B></div></div>")
      else if (calculatediff==0)
        document.write("<B>"+onOccasiontext+" "+showdate+"</B>")
      </SCRIPT>-->

      {%endblock%}
      {% block content%}

      {%endblock%}

      <!--##########################################################################################################-->
      <!-- Footer -->
      <div id="footer" style=" position:fixed; background-image: url({{ url_for('static', filename='img/bg-footer.png')}}); width: 100%; height: 10vh; bottom: 0;">
        <div>
          <br>
          <center><p style="color:white";>Departamento de Informática y telecomunicaciones Org. Oper. Felipe Carrillo Puerto</p></center>
            <!--<div style="text-align: center;">
              <a style= "@media screen and (max-width: 980px) display: none; right: 3px; height: 167px; width: 100px; position: fixed; bottom: -5px;">  <img src="{{ url_for('static', filename='img/ezgif_com_optimize.gif')}}" _fcksavedurl="" alt="" />
              </a>
            </div>-->
          </div>
        </div>
        <!-- Footer -->
        <!--##########################################################################################################-->
        <!-- Inicia declaración de scripts -->
        <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.bundle.js')}}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.bundle.min.js')}}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.js')}}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.3.1.slim.min.js')}}" ></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/popper.min.js')}}" ></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>

        <script LANGUAGE='JavaScript'>
          $('.dropdown-menu a.dropdown-toggle').on('click', function(e) {
            if (!$(this).next().hasClass('show')) {
              $(this).parents('.dropdown-menu').first().find('.show').removeClass("show");
            }
            var $subMenu = $(this).next(".dropdown-menu");
            $subMenu.toggleClass('show');


            $(this).parents('li.nav-item.dropdown.show').on('hidden.bs.dropdown', function(e) {
              $('.dropdown-submenu .show').removeClass("show");
            });


            return false;
          });

          var txt="Comision de Agua Potable y Alcantarillado - Sistema de Control Vehicular";
          var espera=100;
          var refresco=null;
          function rotulo_title() {
            document.title=txt;
            txt=txt.substring(1,txt.length)+txt.charAt(0);
            refresco=setTimeout("rotulo_title()",espera);}
            rotulo_title();

          </script>
  </body>
</html>