{% extends 'home.html' %}
{% block content %}

<div class="container">
    <h3>Sube tu archivo xml </h3>
    <div class="row">
        <div class="card bg-primary text-white">
            <div class="card-body">
                <form method="POST" enctype="multipart/form-data">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                    <input type="file" name="file" class="btn btn-info">
                    <button class="btn btn-danger btn-large" type="submit"> Subir </button>
                </form>
            </div>
        </div>
    </div>
</div>
   

{% endblock %}
