
{% extends 'home.html' %}

{% block content %}
    {% from "_macro.html" import render_field %}
    <br>
    <br>
    <br>
    <br>
    <h1>Upload File</h1>
    <form method="POST" enctype="multipart/form-data">
    	<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <input type="file" name="file" class="btn btn-info">
        <button class="btn btn-danger btn-large" type="submit">
            <icon class="icon-arrow-up icon-white"></icon>
            Subir
        </button>
        <!--<input type="submit" value="Subir" class="btn btn-danger btn-large">-->


        
    </form>
    <br>
    <br>
{% endblock %}
