{% extends 'home.html' %}
{% from "_macro.html" import render_field %}

<br>
<br>
<br>
<br>

{% block content %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  
<br>
    <div class="container">
        <div class="row">
            <form method="POST"  >
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <div class="form-group form-inline">
                        <div class="form-goup col-xs-12 floating-label-form-group controls">
                            {{ render_field(form.select1, class='form-control') }}
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="form-goup col-xs-12 floating-label-form-group controls">
                            {{ render_field(form.search, class='form-control') }}
                            <p class="help-block text-danger"></p>
                        </div>
                        
                </div>
                <div class="success">
                    <div class="row">
                        <div class="form-group col-xs-12">
                            <button type="submit" class="btn btn-outline-danger" name='buton' value='search'>Search...</button>
                        </div>
                        {% if datos or datos2 or datos3 or datos4 %}
                          <br>
                          <div class="form-group col-xs-12">
                            <button type="submit" class="btn btn-outline-danger" name='buton' value='printer' >Imprimir</button>
                          </div>
                          <div class="form-group col-xs-12">
                            <button type="submit" class="btn btn-outline-danger" name='buton' value='excell' target="_blank">Importar Excell</button>
                          </div>
                    
                        {%endif%}
                    </div>
                </div>
                
            </form>

{% if datos %}
</div>
    </div>
      <div class="container mt-3">

        <p>Teclea las iniciales o el nombre y filtra lo que necesites (Núm. Inv, Responsable, Serie) </p>
        <input class="form-control" id="myInput" type="text" placeholder="Search..">
        <br>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Núm. Inv.</th>
              <th>Resguardante</th>
              <th>Serie</th>
              <th>Marca</th>
              <th>Modelo</th>
              <th>Tipo</th>
              <th>Combus.</th>
              <th>Odome.</th>
              <th>imagen</th>
            </tr>
          </thead>
          <tbody id="myTable">
            
              <tr>
                  <td>{{datos.numInv}}</td>
                  <td>{{datos.resguardo}}</td>
                  <td>{{datos.nSerie}}</td>
                  <td>{{datos.marca}}</td>
                  <td>{{datos.modelo}}</td>
                  <td>{{datos.tipoVehiculo}}</td>
                  <td>{{datos.tCombus}}</td>
                  <td>{{datos.odome}}</td>
                  <td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
          Ver Expediente Fotografico
        </button></td>
                  <td><a type="submit" href="/itemVehi/{{datos.numInv}}"class="btn btn-outline-danger" name='buton' >Editar</a></td>
              </tr>

          </tbody>
        </table>
        

        <!-- aqui inicia el modal -->
      <div class="container">
           <!-- The Modal -->
        <div class="modal fade" id="myModal">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
            
              <!-- Modal Header -->
              <div class="modal-header">
                <h4 class="modal-title">Expediente del vehiculo {{fotos[0].placa}} </h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>
              
              <!-- Modal body -->
              <div class="modal-body">
                
                <div class="container">
                  <div class="col-md-12">
                    <div id="carousel-1" class="carousel slide" data-ride="carousel">
                      <!-- indicadores -->
                      <ol class="carousel-indicators">
                        <li data-target="#carousel-1" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-1" data-slide-to="1"></li>
                        <li data-target="#carousel-1" data-slide-to="2"></li>
                        <li data-target="#carousel-1" data-slide-to="3"></li>
                        <li data-target="#carousel-1" data-slide-to="4"></li>
                      </ol>
                      <!-- contenedor de los slide -->
                      <div class="carousel-inner" role="listbox">
                        <div class="carousel-item active">
                          <img class="img-responsive" src="{{url_for('static', filename=fotos[0].ruta)}}" width="400" height="200">
                          <div class="carousel-caption">
                            <h3>placas</h3>
                            <p>{{fotos[0].placa}}</p>
                          </div>
                        </div>
                        <div class="carousel-item">
                          <img class="img-responsive" src="{{url_for('static', filename=fotos[1].ruta)}}" width="400" height="200">
                          <div class="carousel-caption">
                            <h3>placas</h3>
                            <p>{{fotos[1].placa}}</p>
                          </div>
                        </div>
                        <div class="carousel-item">
                          <img class="img-responsive" src="{{url_for('static', filename=fotos[2].ruta)}}" width="400" height="200">
                          <div class="carousel-caption">
                            <h3>placas</h3>
                            <p>{{fotos[2].placa}}</p>
                          </div>
                        </div>
                        <div class="carousel-item">
                          <img class="img-responsive" src="{{url_for('static', filename=fotos[3].ruta)}}" width="400" height="200">
                          <div class="carousel-caption">
                            <h3>placas</h3>
                            <p>{{fotos[3].placa}}</p>
                          </div>
                        </div>
                        <div class="carousel-item">
                          <img class="img-responsive" src="{{url_for('static', filename=fotos[4].ruta)}}" width="400" height="200">
                          <div class="carousel-caption">
                            <h3>placas</h3>
                            <p>{{fotos[4].placa}}</p>
                          </div>
                        </div>
                      </div>
                      <!-- controles -->
                      <a href="#carousel-1"  class="carousel-control-prev" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hiddend="true"></span>
                        <span class="sr-only">Anterior</span>
                      </a>
                       <a href="#carousel-1"  class="carousel-control-next" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hiddend="true"></span>
                        <span class="sr-only">Siguiente</span>
                      </a>
                    </div>
                  </div>
          </div>

        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
        
      </div>
    </div>
  </div>
</div>



  <!-- aqui Termina el modal -->
  
</div>
<br>
<br>
{% elif datos2 %}

</div>
    </div>
    <div class="container mt-3">

  <p>Teclea las iniciales o el nombre y filtra lo que necesites (Núm. Inv, Responsable, Serie) </p>
  <input class="form-control" id="myInput" type="text" placeholder="Search..">
  <br>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Núm. Inv.</th>
        <th>Resguardante</th>
        <th>Serie</th>
        <th>Marca</th>
        <th>Modelo</th>
        <th>Tipo</th>
        <th>Combus.</th>
        <th>Odome.</th>
        <th>imagen</th>
      </tr>
    </thead>
    <tbody id="myTable">
      
        <tr>
            <td>{{datos2.numInv}}</td>
            <td>{{datos2.resguardo}}</td>
            <td>{{datos2.nSerie}}</td>
            <td>{{datos2.marca}}</td>
            <td>{{datos2.modelo}}</td>
            <td>{{datos2.tipoVehiculo}}</td>
            <td>{{datos2.tCombus}}</td>
            <td>{{datos2.odome}}</td>
            <td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
    Ver Expediente Fotografico
  </button></td>
            <td><a type="submit" href="/itemVehi/{{datos2.numInv}}"class="btn btn-outline-danger" name='buton' >Editar</a></td>
        </tr>

    </tbody>
  </table>
  

  <!-- aqui inicia el modal -->
<div class="container">
     <!-- The Modal -->
  <div class="modal fade" id="myModal">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Expediente del vehiculo {{fotos[0].placa}} </h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
          
          <div class="container">
            <div class="col-md-12">
              <div id="carousel-1" class="carousel slide" data-ride="carousel">
                <!-- indicadores -->
                <ol class="carousel-indicators">
                  <li data-target="#carousel-1" data-slide-to="0" class="active"></li>
                  <li data-target="#carousel-1" data-slide-to="1"></li>
                  <li data-target="#carousel-1" data-slide-to="2"></li>
                  <li data-target="#carousel-1" data-slide-to="3"></li>
                  <li data-target="#carousel-1" data-slide-to="4"></li>
                </ol>
                <!-- contenedor de los slide -->
                <div class="carousel-inner" role="listbox">
                  <div class="carousel-item active">
                    <img class="img-responsive" src="{{url_for('static', filename=fotos[0].ruta)}}" width="400" height="200">
                    <div class="carousel-caption">
                      <h3>placas</h3>
                      <p>{{fotos[0].placa}}</p>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <img class="img-responsive" src="{{url_for('static', filename=fotos[1].ruta)}}" width="400" height="200">
                    <div class="carousel-caption">
                      <h3>placas</h3>
                      <p>{{fotos[1].placa}}</p>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <img class="img-responsive" src="{{url_for('static', filename=fotos[2].ruta)}}" width="400" height="200">
                    <div class="carousel-caption">
                      <h3>placas</h3>
                      <p>{{fotos[2].placa}}</p>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <img class="img-responsive" src="{{url_for('static', filename=fotos[3].ruta)}}" width="400" height="200">
                    <div class="carousel-caption">
                      <h3>placas</h3>
                      <p>{{fotos[3].placa}}</p>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <img class="img-responsive" src="{{url_for('static', filename=fotos[4].ruta)}}" width="400" height="200">
                    <div class="carousel-caption">
                      <h3>placas</h3>
                      <p>{{fotos[4].placa}}</p>
                    </div>
                  </div>
                </div>
                <!-- controles -->
                <a href="#carousel-1"  class="carousel-control-prev" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hiddend="true"></span>
                  <span class="sr-only">Anterior</span>
                </a>
                 <a href="#carousel-1"  class="carousel-control-next" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hiddend="true"></span>
                  <span class="sr-only">Siguiente</span>
                </a>
              </div>
            </div>
          </div>

        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
        
      </div>
    </div>
  </div>
</div>



  <!-- aqui Termina el modal -->
  
</div>
<br>
<br>
{% elif datos3 %}

</div>
    </div>
    <div class="container mt-3">

  <p>Teclea las iniciales o el nombre y filtra lo que necesites (Núm. Inv, Responsable, Serie) </p>
  <input class="form-control" id="myInput" type="text" placeholder="Search..">
  <br>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Núm. Inv.</th>
        <th>Resguardante</th>
        <th>Serie</th>
        <th>Marca</th>
        <th>Modelo</th>
        <th>Tipo</th>
        <th>Combus.</th>
        <th>Odome.</th>
        <th>imagen</th>
      </tr>
    </thead>
    <tbody id="myTable">
      
        <tr>
            <td>{{datos3.numInv}}</td>
            <td>{{datos3.resguardo}}</td>
            <td>{{datos3.nSerie}}</td>
            <td>{{datos3.marca}}</td>
            <td>{{datos3.modelo}}</td>
            <td>{{datos3.tipoVehiculo}}</td>
            <td>{{datos3.tCombus}}</td>
            <td>{{datos3.odome}}</td>
            <td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
    Ver Expediente Fotografico
  </button></td>
            <td><a type="submit" href="/itemVehi/{{datos3.numInv}}"class="btn btn-outline-danger" name='buton' >Editar</a></td>
        </tr>

    </tbody>
  </table>
  

  <!-- aqui inicia el modal -->
<div class="container">
     <!-- The Modal -->
  <div class="modal fade" id="myModal">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Expediente del vehiculo {{fotos[0].placa}} </h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
          
          <div class="container">
            <div class="col-md-12">
              <div id="carousel-1" class="carousel slide" data-ride="carousel">
                <!-- indicadores -->
                <ol class="carousel-indicators">
                  <li data-target="#carousel-1" data-slide-to="0" class="active"></li>
                  <li data-target="#carousel-1" data-slide-to="1"></li>
                  <li data-target="#carousel-1" data-slide-to="2"></li>
                  <li data-target="#carousel-1" data-slide-to="3"></li>
                  <li data-target="#carousel-1" data-slide-to="4"></li>
                </ol>
                <!-- contenedor de los slide -->
                <div class="carousel-inner" role="listbox">
                  <div class="carousel-item active">
                    <img class="img-responsive" src="{{url_for('static', filename=fotos[0].ruta)}}" width="400" height="200">
                    <div class="carousel-caption">
                      <h3>placas</h3>
                      <p>{{fotos[0].placa}}</p>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <img class="img-responsive" src="{{url_for('static', filename=fotos[1].ruta)}}" width="400" height="200">
                    <div class="carousel-caption">
                      <h3>placas</h3>
                      <p>{{fotos[1].placa}}</p>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <img class="img-responsive" src="{{url_for('static', filename=fotos[2].ruta)}}" width="400" height="200">
                    <div class="carousel-caption">
                      <h3>placas</h3>
                      <p>{{fotos[2].placa}}</p>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <img class="img-responsive" src="{{url_for('static', filename=fotos[3].ruta)}}" width="400" height="200">
                    <div class="carousel-caption">
                      <h3>placas</h3>
                      <p>{{fotos[3].placa}}</p>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <img class="img-responsive" src="{{url_for('static', filename=fotos[4].ruta)}}" width="400" height="200">
                    <div class="carousel-caption">
                      <h3>placas</h3>
                      <p>{{fotos[4].placa}}</p>
                    </div>
                  </div>
                </div>
                <!-- controles -->
                <a href="#carousel-1"  class="carousel-control-prev" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hiddend="true"></span>
                  <span class="sr-only">Anterior</span>
                </a>
                 <a href="#carousel-1"  class="carousel-control-next" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hiddend="true"></span>
                  <span class="sr-only">Siguiente</span>
                </a>
              </div>
            </div>
          </div>

        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
        
      </div>
    </div>
  </div>
</div>



  <!-- aqui Termina el modal -->
  
</div>
<br>
<br>
{% elif datos4 %}

</div>
    </div>
    <div class="container mt-3">

  <p>Teclea las iniciales o el nombre y filtra lo que necesites (Núm. Inv, Responsable, Serie) </p>
  <input class="form-control" id="myInput" type="text" placeholder="Search..">
  <br>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Núm. Inv.</th>
        <th>Resguardante</th>
        <th>Serie</th>
        <th>Marca</th>
        <th>Modelo</th>
        <th>Tipo</th>
        <th>Combus.</th>
        <th>Odome.</th>
        <th>imagen</th>
      </tr>
    </thead>
    <tbody id="myTable">
      {% for item in datos4 %}
        <tr>
            <td>{{item.numInv}}</td>
            <td>{{item.resguardo}}</td>
            <td>{{item.nSerie}}</td>
            <td>{{item.marca}}</td>
            <td>{{item.modelo}}</td>
            <td>{{item.tipoVehiculo}}</td>
            <td>{{item.tCombus}}</td>
            <td>{{item.odome}}</td>
            <td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal{{item.placa}}">Ver Expediente Fotografico</button></td>
            <td><a type="submit" href="/itemVehi/{{item.numInv}}"class="btn btn-outline-danger" name='buton' >Editar</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  
{% for ima in fotos %}
  <!-- aqui inicia el modal -->


<div class="container">
     <!-- The Modal -->
  <div class="modal fade" id="myModal{{ima['placa']}}">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Expediente del vehiculo {{fotos[0].placa}} </h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
          
          <div class="container">
            <div class="col-md-12">
              <div id="carousel-1" class="carousel slide" data-ride="carousel">
                <!-- indicadores -->
                <ol class="carousel-indicators">
                  <li data-target="#carousel-1" data-slide-to="0" class="active"></li>
                  <li data-target="#carousel-1" data-slide-to="1"></li>
                  <li data-target="#carousel-1" data-slide-to="2"></li>
                  <li data-target="#carousel-1" data-slide-to="3"></li>
                  <li data-target="#carousel-1" data-slide-to="4"></li>
                </ol>
                <!-- contenedor de los slide -->
                <div class="carousel-inner" role="listbox">
                  <div class="carousel-item active">
                    <img class="img-responsive" src="{{url_for('static', filename=ima['frontal'])}}" width="400" height="200">
                    <div class="carousel-caption">
                      <h3>placas</h3>
                      <p>{{ima['placa']}}</p>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <img class="img-responsive" src="{{url_for('static', filename=ima['izquierdo'])}}" width="400" height="200">
                    <div class="carousel-caption">
                      <h3>placas</h3>
                      <p>{{ima['placa']}}</p>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <img class="img-responsive" src="{{url_for('static', filename=ima['derecho'])}}" width="400" height="200">
                    <div class="carousel-caption">
                      <h3>placas</h3>
                      <p>{{ima['placa']}}</p>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <img class="img-responsive" src="{{url_for('static', filename=ima['factura'])}}" width="400" height="200">
                    <div class="carousel-caption">
                      <h3>placas</h3>
                      <p>{{ima['placa']}}</p>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <img class="img-responsive" src="{{url_for('static', filename=ima['tarjeta'])}}" width="400" height="200">
                    <div class="carousel-caption">
                      <h3>placas</h3>
                      <p>{{ima['placa']}}</p>
                    </div>
                  </div>
                </div>
                <!-- controles -->
                <a href="#carousel-1"  class="carousel-control-prev" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hiddend="true"></span>
                  <span class="sr-only">Anterior</span>
                </a>
                 <a href="#carousel-1"  class="carousel-control-next" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hiddend="true"></span>
                  <span class="sr-only">Siguiente</span>
                </a>
              </div>
            </div>
          </div>

        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
        
      </div>
    </div>
  </div>
</div>
<!-- aqui Termina el modal -->
{% endfor %}

  
</div>
<br>
<br>
{% endif %}

<script>
$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myTable tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>


{% endblock %}