

<!DOCTYPE html>
<html>
<head>
    <title></title> 
     <!-- Include Twitter Bootstrap and jQuery: -->
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>


<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static', filename='js/bootstrap-multiselect.js')}}" ></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap-multiselect.css') }}">

<script type="text/javascript">
    $(document).ready(function() {
        $('#example').multiselect({
            buttonContainer: '<div class="btn-group" id="example"></div>',
            selectedClass: 'multiselect-selected',
            includeSelectAllOption: true,
            enableFiltering: true,
            selectAllJustVisible: false
        });
    });
</script>

</head>
<body>

    <div class="container-fluid">
        <select id="example" multiple="multiple">
            <option value="cheese">Cheese</option>
            <option value="tomatoes">Tomatoes</option>
            <option value="mozarella">Mozzarella</option>
            <option value="mushrooms">Mushrooms</option>
            <option value="pepperoni">Pepperoni</option>
            <option value="onions">Onions</option>
        </select>
    </div>
</body>


</html>