{% extends 'home.html' %}
{% from "_macro.html" import render_field %}

{% block content %}
<script>
    alert("imprima primero sus cotizaciones antes de capturar su solicitud")
</script>
    <br>
    <div class="container">
        <div class="row">
            <form method="POST">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
				<div class="form-group form-inline">
                    <div class="form-goup col-xs-12 floating-label-form-group controls">
                        {{ render_field(form.nServicio, class='form-control') }}
                        <p class="help-block text-danger"></p>
                    </div>
                    <div class="form-goup col-xs-12 floating-label-form-group controls">
                        {{ render_field(form.fecha, class='form-control') }}
                        <p class="help-block text-danger"></p>
                    </div>
				</div>
                <div class="form-group form-inline">
                    <div class="form-goup col-xs-12 floating-label-form-group controls">
                       {{ render_field(form.nOficio, class='form-control', placeholder="Capture Núm. Oficio") }}
                        <p class="help-block text-danger"></p>
                    </div>
                    <div class="form-goup col-xs-12 floating-label-form-group controls">
                        {{ render_field(form.placa, class='form-control') }}
                        <p class="help-block text-danger"></p>
                    </div>
				</div> 
                <div class="form-group form-inline">
                    <div class="form-goup col-xs-12 floating-label-form-group controls">
                       {{ render_field(form.odome, class='form-control', placeholder="Capture Km Recorridos") }}
                        <p class="help-block text-danger"></p>
                    </div>
                    <div class="form-goup col-xs-12 floating-label-form-group controls">
                        {{ render_field(form.observaciones, class='form-control', placeholder="Teclee sus observaciones") }}
                        <p class="help-block text-danger"></p>
                    </div>
				</div>
                <div class="form-group form-inline">
                    <div class="form-goup col-xs-8 floating-label-form-group controls">
                       {{ render_field(form.solicitante, class='form-control form-control', placeholder="Capture Nombre Solicitante") }}
                        <p class="help-block text-danger"></p>
                    </div>
                </div>
                <br>  
                
                <br>                 
                <div class="success">
                    <div class="row">
                        <div class="form-group col-xs-12">
                            <button type="submit" class="btn btn-outline-danger" name="buton" value="generar">Generar...</button>
                        </div>
                    </div>
                </div>

                                    <!--  ################################################### -->
                        <div class="container">
                              <!-- Button to Open the Modal -->
                              <div class="form-group col-xs-12">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                                Imprimir Cotizacion
                    </button>
                </div>

                              <!-- The Modal -->
                              <div class="modal" id="myModal">
                                <div class="modal-dialog">
                                  <div class="modal-content">
                                  
                                    <!-- Modal Header -->
                                    <div class="modal-header">
                                      <h4 class="modal-title">Modal Heading</h4>
                                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    </div>
                                    
                                    <!-- Modal body -->
                                    <div class="modal-body">

                                      <div class="form-group form-inline">
                                            <div class="form-goup col-xs-8 floating-label-form-group controls">
                                                {{ render_field(form.Cotización, class='form-control form-control', placeholder="Capture Nombre Solicitante") }}
                                                <p class="help-block text-danger"></p>
                                            </div>                               
                                        </div>
                                    
                                    <!-- Modal footer -->
                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-outline-danger" name="buton" value="imprimir">Imprimir cotización</button>
                                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                    </div>

                                  </div>
                                </div>
                              </div>
                              
                        </div>
                    <!--  #####################################################-->

            </form>
                </div>

        </div>
    </div>
    <br>
    <br>
    <br>
{% endblock %}