{% extends 'home.html' %}
{% from "_macro.html" import render_field %}
{% block content %}
<style type="text/css" media="screen">
    .prueba{
        min-width: 400px;
        list-style: none;
    }
</style>
    <script>
        function asignar(){
            fetch('/combustible/ticket/consultagrupal/data').then(function(response){
                response.json().then(function(data) {
                    var conten = document.getElementById("prueba1");
                    var conten2 = document.getElementById("prueba2");
                    x=0;
                    for (let opt of data.datos){
                        if (x<13){
                            var etiqueta = document.createElement("label");
                            var input = document.createElement("input");
                            var enlace = document.createElement("a");
                            var separador = document.createElement("div");

                            separador.setAttribute("class","form-inline");
                            enlace.setAttribute("class","dropdown-item");
                            input.type="checkbox";
                            input.setAttribute("class","form-check-input");
                            etiqueta.setAttribute("class","form-check-label");
                            etiqueta.innerHTML=" "+opt.placa+" ";
                            input.id=opt.placa;
                            input.value=opt.id;
                            input.name="placa";
                            separador.appendChild(input);
                            separador.appendChild(etiqueta);
                            enlace.appendChild(separador);
                            conten.appendChild(enlace);

                        }else{
                            var etiqueta = document.createElement("label");
                            var input = document.createElement("input");
                            var enlace = document.createElement("a");
                            var separador = document.createElement("div");

                            separador.setAttribute("class","form-inline");
                            enlace.setAttribute("class","dropdown-item");
                            input.type="checkbox";
                            input.setAttribute("class","form-check-input");
                            etiqueta.setAttribute("class","form-check-label");
                            etiqueta.innerHTML=" "+opt.placa+" ";
                            input.id=opt.placa;
                            input.value=opt.id;
                            input.name="placa";
                            separador.appendChild(input);
                            separador.appendChild(etiqueta);
                            enlace.appendChild(separador);
                            conten2.appendChild(enlace);
                        }
                        x+=1;
                    }
                    
                });
            });
        };
        asignar();
    </script>
        <div class="container">
			<div class="row-fluid">
				<form  name="form1" class="form-horizontal" method="POST" accept-charset="utf-8">
    				<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    				<div class="row form-control-feedback form-group">
    					<div class="form-goup col-xs-12 floating-label-form-group controls">
                            
                            <div class="dropdown dropright col-xs-12 prueba">
                                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                    Selecciona una opcion
                                </button>
                                <div class="dropdown-menu" >
                                    <div class="container-fluid">
                                        <div class="form-inline">
                                            <div class="col-sm" id="prueba1">
                                            
                                            </div>
                                            <div class="col-sm" id="prueba2">
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {{ render_field(form.fechaI, class='form-control', placeholder="01/01/2019") }}
                            {{ render_field(form.fechaF, class='form-control', placeholder="31/12/2019") }}
                        </div>
                        
                        
                    </div>
                    <div class="success">
                    <div class="row">
                        <div class="form-group col-xs-12">
                            <button type="submit" class="btn btn-outline-danger" name='buton' value='search'>Search...</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}