{% extends 'home.html' %}
{% from "_macro.html" import render_field %}

<br>
<br>
<br>
<br>

{% block content %}

    <script>
        window.onload = function () {
            document.getElementById('kmInicio').disabled=true;
        };
        function imprimirValor() {
            var select = document.getElementsByName("odome")[0].value;
            if (select === "Si"){
                document.getElementById('kmInicio').disabled=false;
            } else{
                document.getElementById('kmInicio').disabled=true;
            }
        }
    </script>
    <br>
     <div class="container">
        <div class="col-sm-12" style="background-color:#ff6600;"> <center><p style="color: white;">Datos Generales</p></center></div>
        <div class="row">
            <form method="POST" name="Autos" enctype="multipart/form-data">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                 <div class="form-group form-inline">
                    <div class="form-goup col-xs-12 floating-label-form-group controls">
                        {{ render_field(form.numInv, class='form-control') }}
                        <p class="help-block text-danger"></p>
                    </div>
                    <div class="form-goup col-xs-12 floating-label-form-group controls">
                        {{ render_field(form.numSicopa, class='form-control') }}
                        <p class="help-block text-danger"></p>
                    </div>
                    <div class="form-goup col-xs-12 floating-label-form-group controls">
                        {{ render_field(form.numTarCir, class='form-control') }}
                        <p class="help-block text-danger"></p>
                    </div>
                    <div class="form-goup col-xs-12 floating-label-form-group controls">
                        {{ render_field(form.marca, class='form-control') }}
                        <p class="help-block text-danger"></p>
                    </div>
                    <div class="form-goup col-xs-12 floating-label-form-group controls">
                        {{ render_field(form.modelo, class='form-control') }}
                        <p class="help-block text-danger"></p>
                    </div>
                </div>
                <div class="form-group form-inline">
                    
                    <div class="form-goup col-xs-12 floating-label-form-group controls">
                        {{ render_field(form.color, class='form-control') }}
                        <p class="help-block text-danger"></p>
                    </div>
                    <div class="form-goup col-xs-12 floating-label-form-group controls">
                        {{ render_field(form.anio, class='form-control') }}
                        <p class="help-block text-danger"></p>
                    </div>
                    <div class="form-goup col-xs-12 floating-label-form-group controls">
                        {{ render_field(form.tipoVehiculo, class='form-control') }}
                        <p class="help-block text-danger"></p>
                    </div>
                     <div class="form-goup col-xs-12 floating-label-form-group controls">
                        {{ render_field(form.nSerie, class='form-control') }}
                        <p class="help-block text-danger"></p>
                    </div>
                    <div class="form-goup col-xs-12 floating-label-form-group controls">
                        {{ render_field(form.nMotor, class='form-control') }}
                        <p class="help-block text-danger"></p>
                    </div>
                    <div class="form-goup col-xs-12 floating-label-form-group controls">
                        {{ render_field(form.costo, class='form-control') }}
                        <p class="help-block text-danger"></p>
                    </div>
                </div>
                <div class="form-group form-inline">
                   
                    <div class="form-goup col-xs-12 floating-label-form-group controls">
                        {{ render_field(form.tCombus, class='form-control') }}
                        <p class="help-block text-danger"></p>
                    </div>
                    <div class="form-goup col-xs-12 floating-label-form-group controls">
                        {{ render_field(form.odome, class='form-control', onChange="imprimirValor();") }}
                        <p class="help-block text-danger"></p>
                    </div>
                     <div class="form-goup col-xs-12 floating-label-form-group controls">
                        {{ render_field(form.kmInicio, class='form-control') }}
                        <p class="help-block text-danger"></p>
                    </div>
                    <div class="form-goup col-xs-12 floating-label-form-group controls">
                        {{ render_field(form.nVehi, class='form-control') }}
                        <p class="help-block text-danger"></p>
                    </div>
                    {% if edit %}
                        <div class="form-goup col-xs-12 floating-label-form-group controls">
                            {{ render_field(form.resguardoAnte, class='form-control') }}
                            <p class="help-block text-danger"></p>
                        </div>
                        {% if preciono %}
                            <div class="form-goup col-xs-12 floating-label-form-group controls">
                                {{ render_field(form.resguardo, class='form-control') }}
                                <p class="help-block text-danger"></p>
                            </div>
                        {% else %}
                            <div class="form-goup col-xs-12 floating-label-form-group controls">
                                {{ render_field(form.resguardo2, class='form-control') }}
                                <p class="help-block text-danger"></p>
                            </div>
                        {% endif %}
                        <div class="form-goup col-xs-12 floating-label-form-group controls">
                            <div class="form-goup col-xs-12 floating-label-form-group controls">
                                <button type="submit" name="boton" class="btn btn-outline-success" value="editar" >Editar</button>
                            </div>
                        </div>
                    {% else %}
                        <div class="form-goup col-xs-12 floating-label-form-group controls">
                            {{ render_field(form.resguardo, class='form-control') }}
                            <p class="help-block text-danger"></p>
                        </div>
                    {% endif %}
                </div>
                <div class="form-group form-inline">
                    <div class="form-goup col-xs-12 floating-label-form-group controls">
                        {{ render_field(form.cSeguros, class='form-control') }}
                        <p class="help-block text-danger"></p>
                    </div>
                    <div class="form-goup col-xs-12 floating-label-form-group controls">
                        {{ render_field(form.nPoliza, class='form-control') }}
                        <p class="help-block text-danger"></p>
                    </div>
                    <div class="form-goup col-xs-12 floating-label-form-group controls">
                        {{ render_field(form.placa, class='form-control') }}
                        <p class="help-block text-danger"></p>
                    </div>
                </div>
                {% if fotos %}
                <div class="col-sm-12" style="background-color:#ff6600;"> <center><p style="color: white;">Datos Generales</p></center></div>
                    <div class="container">
                        <center>
                        {% for item in fotos %}
                            <button type="button" name="boton" class="btn btn-outline-success" data-toggle="modal" data-target="#myModal{{item.id}}">
                                <img class="img-fluid" src="{{url_for('static', filename=item.ruta)}}" width="100" height="50">
                            </button>
                            <div class="modal fade" id="myModal{{item.id}}">
                                <div class="modal-dialog">
                                  <div class="modal-content">
                                  
                                    <!-- Modal Header -->
                                    <div class="modal-header">
                                      <h4 class="modal-title">imagen del vehiculo {{item.placa}}</h4>
                                      <button type="button" class="close" data-dismiss="modal">×</button>
                                    </div>
                                    
                                    <!-- Modal body -->
                                    <div class="modal-body">
                                      <img class="img-fluid" src="{{url_for('static', filename=item.ruta)}}" width="400" height="600">
                                    </div>
                                    
                                    <!-- Modal footer -->
                                    <div class="modal-footer">
                                      <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                    </div>
                                    
                                  </div>
                                </div>
                              </div>
                        {% endfor%}
                        </center>
                    </div>
                    
                {% else %}
                    <div class="container-fluid">
                        <div class="col-sm-12" style="background-color:#ff6600;"> <center><p style="color: white;">Imagenes 5Mb Max</p></center></div>
                        <div class="row">
                            <div class="col-sm-4" >
                                {{ render_field(form.frontal, class='btn btn-outline-info btn-large') }}
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="col-sm-4" >
                                {{ render_field(form.izq, class='btn btn-outline-info btn-large') }}
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="col-sm-4" >{{ render_field(form.der, class='btn btn-outline-info btn-large') }}
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="col-sm-4" >{{ render_field(form.tras, class='btn btn-outline-info btn-large') }}
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="col-sm-4" >{{ render_field(form.inte, class='btn btn-outline-info btn-large') }}
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="col-sm-12" style="background-color:#ff6600;"> <center><p style="color: white;">Archivos pdf 5Mb Max</p></center></div>
                        <div class="row">
                            <div class="col-sm-4" >
                                {{ render_field(form.tarjeta, class='btn btn-outline-primary btn-large') }}
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="col-sm-4">
                                {{ render_field(form.factura, class='btn btn-outline-primary btn-large') }}
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="col-sm-4">
                                {{ render_field(form.poliza, class='btn btn-outline-primary btn-large') }}
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                    </div>
                    <br>
                        <br>
                {% endif %}

                {% if doc %}
                <div class="col-sm-12" style="background-color:#ff6600;"> <center><p style="color: white;">Datos Generales</p></center></div>
                    <div class="container">
                        <center>
                        {% for dc in doc %}
                            <a href="{{url_for('static', filename=dc.ruta)}}" >
                                <button type="button" name="boton" class="btn btn-outline-success" >
                                    {% if dc.parte == "fac" %}
                                        Factura
                                    {% elif dc.parte == "tar" %}
                                        Tarjeta Circulacion
                                    {% elif dc.parte == "pol" %}
                                        Poliza
                                    {%endif%}
                                    
                                </button>
                            </a>
                        {% endfor %}
                        </center>
                    </div>
                {% endif %}
                <br>
                <br>         

                 <div class="form-group form-inline">
                    <div class="form-goup col-xs-12 floating-label-form-group controls">
                        <button type="submit" name="boton" class="btn btn-outline-danger" value="listo" >Agregar...</button>
                    </div>
                </div>
                <br>
                <br>
            </form>
        </div>
     </div>
    <br> 
    
{% endblock %}